<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>About Kuponki</title>
  <link rel="stylesheet" href="css/about.css" type="text/css">
 </head>
 <body>
   <h1>About Kuponki</h1>
   <br>
   <p>
     First, we began creating the ruby file to sort all the coupons in alphabetical order, by experiation date, by store name, by discount. This is how we did it for the alphabetical order:
   </p>
   <br>
   <img src="css/alphabet.PNG" alt="alphabet" width="500">
   <br><br>
   <p>
     Next, we started creating the html embedded ruby files for the index, submission, view, and puns pages. Here is a snippet from our submission page code:
   </p>
   <br>
   <img src="css/submission snippet.PNG" alt="submission" width="900">
     <br><br>
   <p>
    After that, we added css code to make the pages look pretty. Here is a snippet of the css code:
   </p>
   <br>
   <img src="css/css.PNG" alt="css" width="400">
 </body>
</html>