<!DOCTYPE html>
<html>
  
 <head>
  <meta charset="UTF-8">
  <title>Kuponki</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
  
 <body>
   <h1>Kuponki</h1>
   <div>
     How many times have you found yourself in a store having forgotten to bring a coupon or having brought an expired coupon? Here at Kuponki we are very considerate and understanding and would like to help you keep track of your coupons and be a better consumer.
   </div>
   <div class = "link">
     <a href="submission">Click here to submit a coupon</a>
   </div>
   <div class = "link">
     <a href="puns">Click here for cute puns!</a>
   </div>
 </body>
</html>