<!DOCTYPE html>
<html>
  
 <head>
  <meta charset="UTF-8">
  <title>Kuponki</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
  
 <body>
   <h1>Kuponki</h1>
   <p>
     How many times have you found yourself in a store having forgotten to bring a coupon or having brought an expired coupon? Here at Kuponki we are very considerate and understanding and would like to help you keep track of your coupons and be a better consumer.
   </p>
   <a href="submission">Click here to submit a coupon</a>
   <br></br>
   <a href="view">Click here to view your submitted coupons</a>
   <br></br> 
   <a href="puns">Click here for coupon puns!</a>
 </body>
  
</html>