<!DOCTYPE html>
<html>
  
 <head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/style.css" type="text/css">
  <title>Kuponki</title>
 </head>
  
 <body>
   <h1>Kuponki</h1>
   <div id="intro">
   <p>
     How many times have you found yourself in a store having forgotten to bring a coupon or having brought an expired coupon? Here at Kuponki we are very considerate and understanding and would like to help you keep track of your coupons and be a better consumer.
   </p>
   </div>
   <div class="link">
     <a href="submission">Click here to submit a coupon</a>
   </div>
  <div class = "link"> 
     <a href="view_coupons">Click here to view your submitted coupons</a>
  </div>
  <div class = "link">
     <a href="puns">Click here for coupon puns!</a>
  </div>
 </body>
  
</html>