<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
<<<<<<< HEAD
  <title>super savers</title>
 </head>
 <body>
    cool
  
 </body>
=======
  <title>Coupon Organizer</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
   <body>
     <h1>Welcome to Coupon Organizer!</h1>
  <!---<img src = "" --->
    <h2>Please enter your coupon information below:</h2>
   <form>
      Store Name:<br>
      <input type="text" name="store_name" placeholder = "Store Name">
      <br><br>
      Coupon Name:<br>
      <input type="text" name="coupon_name" placeholder = "Coupon Name"> <!--Should make optional--->
      <br><br>
      Discount:<br>
      <input type="text" name="firstname" placeholder = "Discount">
      <br><br>
      Item:<br>
      <select> 
        <option value="" disabled = "disabled" selected="selected">Choose an item</option>
        <option value="Food">Food</option>
        <option value="Clothing">Clothing</option>
        <option value="Furniture">Furniture</option>
        <option value="Accessories">Accessories</option>
        <option value="Other">Other</option>
      </select><br><br>
      <input type="submit">
    </form>
  </body>
>>>>>>> c68574572df3df824a375b818b28f5b362b51815
</html>