<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Coupon Puns!</title>
  <link rel="stylesheet" href="css/puns.css" type="text/css">
 </head>
 <body>
   <h1>Cute puns (coupons get it haha)</h1>
   <div>
     <p>
       While handing a 25 cent off coupon to the supermarket clerk at the checkout counter, a woman inadvertently missed her hand, and the coupon slipped beneath the scale and was gone.
The checker looked distressed, so the woman said, "That's Okay, it's in coupon heaven now."
"Coupon heaven?", the checker said.
"Yes", the woman said, "That's where coupons go when they die."
"Only the redeemed ones!", said the checker.
     </p>
   </div>
 </body>
</html>