<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/return.css" type="text/css">
  <title>GO HOME</title>
 </head>
 <body>
    <br><br><br><br><br>
    <div>
    <a href= "index"> GO TO HOMEPAGE </a>
    <a href= "submission"> SUMBIT COUPONS </a>
    </div>
 </body>
</html>