<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Kuponki</title>
 </head>
 <body>

  
 </body>
  <title>Coupon Organizer</title>
  <link rel="stylesheet" href="css/submission.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway+Dots">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway">
  
     <div>
      <h1>Kuponki</h1>
     </div>
     <div>
        <h3>Please enter your coupon information below:</h2>
     </div>

   <form method = "POST" action= "/submission">

   <form method="POST" action="/submission">

      Store Name:<br>
      <input type="text" name="store_name" placeholder = "Store Name">
      <br><br>
      Coupon Name:<br>
      <input type="text" name="coupon_name" placeholder = "Coupon Name"> <!--Should make optional--->
      <br><br>
      Expiration Date:<br>
      <input type="text" name="exp_date" placeholder = "yy/mm/dd">
      <br><br>
      Discount:<br>
      <input type="text" name="firstname" placeholder = "Discount">
      <br><br>
      Item:<br> 
<!--       WE HAVE TO FIX THE TYPE PART WITH THE TYPE THING -->
      <select> 
         <div>
        <option value="" disabled = "disabled" selected="selected">Choose an item</option>
        <option value="Food" name="type">Food</option>
        <option value="Clothing" name="type">Clothing</option>
        <option value="Electronics" name="type">Electronics</option>
        <option value="Cosmetics" name="type">Cosmetics</option>
        <option value="Office Supplies" name="type">Office Supplies</option>
        <option value="Furniture" name="type">Furniture</option>
        <option value="Other" name="type">Other</option>
         </div>
      </select><br><br>
      Additional Notes:<br>
       <input type="text" name="description">

      
      
      
     <br><br>

       <h3>Please enter your coupon information below:</h2>
     </div>
   <form method = "POST" action= "/submission">
      Store Name:<br>
      <input type="text" name="store_name1" placeholder = "Store Name">
      <br><br>
      Coupon Name:<br>
      <input type="text" name="coupon_name1" placeholder = "Coupon Name"> <!--Should make optional--->
      <br><br>
      Expiration Date:<br>
      <input type="text" name="exp_date1" placeholder = "yy/mm/dd">
      <br><br>
      Discount:<br>
      <input type="text" name="firstname1" placeholder = "Discount">
      <br><br>
      Item:<br> 
      <select> 
         <div>
        <option value="" disabled = "disabled" selected="selected">Choose an item</option>
        <option value="Food" name="type">Food</option>
        <option value="Clothing" name="type">Clothing</option>
        <option value="Electronics" name="type">Electronics</option>
        <option value="Cosmetics" name="type">Cosmetics</option>
        <option value="Office Supplies" name="type">Office Supplies</option>
        <option value="Furniture" name="type">Furniture</option>
        <option value="Other" name="type">Other</option>
         </div>
      </select><br><br>
      Additional Notes:<br>
       <input type="text" name="description1">
      
      
      <br>
      
      <br><br>
       <h3>Please enter your coupon information below:</h2>
      <form method = "POST" action= "/submission">
      Store Name:<br>
      <input type="text" name="store_name2" placeholder = "Store Name">
      <br><br>
      Coupon Name:<br>
      <input type="text" name="coupon_name2" placeholder = "Coupon Name"> <!--Should make optional--->
      <br><br>
      Expiration Date:<br>
      <input type="text" name="exp_date2" placeholder = "yy/mm/dd">
      <br><br>
      Discount:<br>
      <input type="text" name="firstname2" placeholder = "Discount">
      <br><br>
      Item:<br> 
      <select> 
         <div>
        <option value="" disabled = "disabled" selected="selected">Choose an item</option>
        <option value="Food" name="type">Food</option>
        <option value="Clothing" name="type">Clothing</option>
        <option value="Electronics" name="type">Electronics</option>
        <option value="Cosmetics" name="type">Cosmetics</option>
        <option value="Office Supplies" name="type">Office Supplies</option>
        <option value="Furniture" name="type">Furniture</option>
        <option value="Other" name="type">Other</option>
         </div>
      </select><br><br>
      Additional Notes:<br>
       <input type="text" name="description2">
         
         <br><br>
      <a href= "view_coupons"> <input type="submit" onclick= "alert('Your coupon has been successfuly submitted!')"></a>
    </form>
     
    
  </body>
</html>
