<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Kuponki</title>
 </head>
 <body>

  
 </body>
  <title>Coupon Organizer</title>
  <link rel="stylesheet" href="css/submission.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway+Dots">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway">
  
 </head>
   <body>
     <div>
      <h1>Kuponki</h1>
     </div>
     <div>
        <h3>Please enter your coupon information below:</h2>
     </div>
   <form method="POST" action="/submission">
      Store Name:<br>
      <input type="text" name="store_name" placeholder = "Store Name">
      <br><br>
      Coupon Name:<br>
      <input type="text" name="coupon_name" placeholder = "Coupon Name"> <!--Should make optional--->
      <br><br>
      Expiration Date:<br>
      <input type="text" name="exp_date" placeholder = "yy/mm/dd">
      <br><br>
      Discount:<br>
      <input type="text" name="firstname" placeholder = "Discount">
      <br><br>
      Item:<br>
      <select> 
        <option value="" disabled = "disabled" selected="selected">Choose an item</option>
        <option value="Food">Food</option>
        <option value="Clothing">Clothing</option>
        <option value="Electronics">Electronics</option>
        <option value="Cosmetics">Cosmetics</option>
        <option value="Office Supplies">Office Supplies</option>
        <option value="Furniture">Furniture</option>
        <option value="Other">Other</option>
      </select><br><br>
      Additional Notes:<br>
       <input type="text">
     <br><br>
      <input type="submit" onclick= "alert('Your coupon has been successfuly submitted!')">
     <br><br>
    </form>
    <a href="view_coupons" id="link">Click here to view your submitted coupons</a> 
  </body>
</html>