<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>View Submitted Coupons</title>
  <link rel="stylesheet" href="css/view_coupons.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway+Dots">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway">
 </head>
 <body>
   <h1>Submitted Coupons</h1>
   <hr>
   
 </body>
</html>