@import url('http://fonts.googleapis.com/css?family=Raleway+Dots');
@import url('http://fonts.googleapis.com/css?family=Raleway');
body{
  background-image: url("DPC-96-0X0X.jpg");
  background-size: 1910px;
  background-repeat: no-repeat;
}
h1{
  font-size: 400%;
  text-align: center;
  color: white;
  font-family: Raleway Dots;
}

div{
  background-color: white;
  width: 1250px;
  padding: 15px;
  border: 1px solid white;
  margin: 30px;
  font-family: Raleway;
  font-size: 150%;
  opacity: 0.5;
  font-weight: bold;
  border-radius: 25px;
}
a{
  font-family: Raleway;
  color: white;
  font-size: 150%;
  margin: 30px;
}