<<<<<<< HEAD
@import url('http://fonts.googleapis.com/css?family=Raleway+Dots');
@import url('http://fonts.googleapis.com/css?family=Raleway');
body{
  background-image: url("DPC-96-0X0X.jpg");
  background-size: 1910px;
  background-repeat: no-repeat;
}
=======
div {
  background-color: #888888;
}

>>>>>>> ee5aa4a153db8388b5c19c60f62381b39e3da949
h1{
  font-size: 400%;
  text-align: center;
  color: white;
  font-family: Raleway Dots;
}
p{
  font-size: 150%;
  color: white;
  font-family: Raleway;
}
a{
  font-size: 150%;
  color: white;
  font-family: Raleway;
}